In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import selenium
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time
import pprint as p
import pandas as pd

Note before execute these code user has to download chromedriver
and place this file in your environment folder.

### Worldwide Leading Star

In [4]:
# Driver
service = Service(executable_path=r'C:\chromedriver')
driver = webdriver.Chrome(service=service)
driver.get('https://www.the-numbers.com/box-office-star-records/worldwide/lifetime-acting/top-grossing-leading-stars')

# Get table segment
t_data =  driver.find_element(By.XPATH,"""//*[@id="page_filling_chart"]/center/table""")
                                     #   //*[@id="page_filling_chart"]/center/table

# Get column names
tb_col = ['Rank', 'Name', 'WorldwideBoxOffice', 'Movies', 'Average']
tb_col_len = len(tb_col)
# tb_col = driver.find_element(By.XPATH , """//*[@id="page_filling_chart"]/center/table/thead""")

# Variable for DataFrame
all_rows = []

# Loop

# for i in range(126):
for i in range(1):
    try:
        page_ind  = i%6 + 2
        t_data =  driver.find_element(By.XPATH,"""//*[@id="page_filling_chart"]/center/table""")
        for tr in t_data.find_elements(By.XPATH , '//tr'):
            row = [item.text for item in tr.find_elements(By.XPATH , './/td')]
            if len(row) == tb_col_len:
                all_rows.append(row)
        next_page = driver.find_element(By.XPATH , f"""//*[@id="page_filling_chart"]/center/div/a[{page_ind}]""")
        next_page.click()
    except:
        print(i)
        break
        
worldwide_leading_star = pd.DataFrame(all_rows,columns= tb_col)
worldwide_leading_star.to_csv('worldwide_leading_star.csv',sep = '|')
display(worldwide_leading_star)

   Rank                Name WorldwideBoxOffice Movies       Average
0     1  Scarlett Johansson    $14,540,225,553     33  $440,612,896
1     2  Robert Downey, Jr.    $14,393,065,910     44  $327,115,134
2     3   Samuel L. Jackson    $14,376,505,937     65  $221,177,014
3     4         Zoe Saldana    $14,226,628,408     31  $458,923,497
4     5         Chris Pratt    $13,914,869,758     23  $604,994,337
..  ...                 ...                ...    ...           ...
95   96     Anthony Hopkins     $4,222,314,730     41  $102,983,286
96   97  Keegan-Michael Key     $4,210,334,295     16  $263,145,893
97   98      Channing Tatum     $4,196,985,884     31  $135,386,641
98   99           Tim Allen     $4,190,333,035     20  $209,516,652
99  100       Russell Crowe     $4,185,258,262     43   $97,331,587

[100 rows x 5 columns]

### Summary Table

In [8]:
# Driver
service = Service(executable_path=r'C:\chromedriver')
driver = webdriver.Chrome(service=service)
driver.get('https://www.the-numbers.com/box-office-star-records/worldwide/lifetime-acting/top-grossing-leading-stars')

# //*[@id="page_filling_chart"]/center/table/tbody/tr[1]/td[2]/b/a
# //*[@id="page_filling_chart"]/center/table/tbody/tr[2]/td[2]/b/a

summary_table_list =[]


# for i in range(126):
for i in range(1):
    try:
        page_ind  = i%6 + 2
        for ind_star in range(1,101):
        # for ind_star in range(1,2):
            
            star_link = driver.find_element(By.XPATH , f"""//*[@id="page_filling_chart"]/center/table/tbody/tr[{ind_star}]/td[2]/b/a""")
            star_link.click()
            
            star_name = driver.find_element(By.XPATH , f"""//*[@id="main"]/div/h1""").text
            # print(ind_star,star_name)
            
            click_summary = driver.find_element(By.XPATH , f"""//*[@id="toc"]/li[1]/a""")
            click_summary.click()
            
            summary_tb = driver.find_element(By.XPATH , f"""//*[@id="page_filling_chart"]/center[1]/table/tbody""" )
            
            for tr in summary_tb.find_elements(By.XPATH , './/tr'):
                row = [item.text for item in tr.find_elements(By.XPATH , './/td')]
                if row[0] == 'As an Actor':
                    tmp = 'As an Actor'
                    
                elif row[0] == 'In Technical Roles':
                    tmp = 'In Technical Roles'
                    
                elif row[0] == '':
                    row[0] = tmp
                
                summary_table_list.append([star_name]  + row)
            
            driver.back()
        next_page = driver.find_element(By.XPATH , f"""//*[@id="page_filling_chart"]/center/div/a[{page_ind}]""")
        next_page.click()
    except:
        print(i)
        break
    
summary_cols = ['ind','Name','ActorOrTech','Role','Movies','DomesticBoxOffice','InternationalBoxOffice','WorldwideBoxOffice']
summary_table = pd.DataFrame(summary_table_list)
# summary_table.to_csv('star_summary.csv',sep = '|')
display(summary_table)

,0,1,2,3,4,5,6
0,Scarlett Johansson,As an Actor,Lead Ensemble Member,18,"$4,790,036,427","$8,254,602,267","$13,044,638,694"
1,Scarlett Johansson,As an Actor,Leading,15,"$512,505,148","$983,081,711","$1,495,586,859"
2,Scarlett Johansson,As an Actor,Supporting,11,"$375,806,548","$289,107,481","$664,914,029"
3,Scarlett Johansson,As an Actor,(Unclassified),8,"$80,361,761","$119,600,921","$199,962,682"
4,Scarlett Johansson,In Technical Roles,Producer,2,$0,$0,$0
5,Scarlett Johansson,In Technical Roles,Executive Producer,1,"$81,212",$0,"$81,212"
6,Scarlett Johansson,In Technical Roles,Director,1,$0,$0,$0

### Acting Credits

In [11]:
# Driver
service = Service(executable_path=r'C:\chromedriver')
driver = webdriver.Chrome(service=service)
driver.get('https://www.the-numbers.com/box-office-star-records/worldwide/lifetime-acting/top-grossing-leading-stars')

acting_credit_data = []


# for i in range(1,130):
for i in range(1,2):
    try:
        page_ind  = i%6 + 2
        # for ind_star in range(1,101):
        for ind_star in range(1,2):
            star_link = driver.find_element(By.XPATH , f"""//*[@id="page_filling_chart"]/center/table/tbody/tr[{ind_star}]/td[2]/b/a""")
            star_link.click()
            
            # click Acting Credits
            actingcredits_butt = driver.find_element(By.XPATH , f"""//*[@id="a_acting"]""")
            actingcredits_butt.click()
            
            star_name = driver.find_element(By.XPATH , f"""//*[@id="main"]/div/h1""").text

            ac_table = driver.find_element(By.XPATH , f"""//*[@id="all_acting_credits"]/tbody""")
            # for tr in ac_table.find_elements(By.XPATH , './/tr'):
            for ind,tr in enumerate(ac_table.find_elements(By.XPATH , './/tr') ,start= 1):
                row = [item.text for item in tr.find_elements(By.XPATH , './/td')]
                movie_name = driver.find_element(By.XPATH , f'''//*[@id="all_acting_credits"]/tbody/tr[{ind}]/td[2]/b/a''').get_attribute('href')
                row = [star_name] + row + [movie_name]
                acting_credit_data.append(row)
            driver.back()
            driver.back()
        next_page = driver.find_element(By.XPATH , f"""//*[@id="page_filling_chart"]/center/div/a[{page_ind}]""")
        next_page.click()
    except:
        print(i)


# ac_cols_name = driver.find_element(By.XPATH,'//*[@id="all_acting_credits"]/thead/tr').find_elements(By.XPATH,'.//th')
# ac_cols_name_list = [i.text.replace('\n',' ') for i in ac_cols_name]
# ac_cols_name_list = ['Name'] + ac_cols_name_list + ['href']

ac_cols_name_list = ['Name',
'Release Date',
 'Title',
 'Role',
 'Domestic Box Office',
 'International Box Office',
 'Worldwide Box Office',
 'href']

ActingCredits = pd.DataFrame(acting_credit_data,columns= ac_cols_name_list)
ActingCredits.to_csv('all_acting_credits.csv',sep = '|')
display(ActingCredits.head())

,Name,Release Date,Title,Role,Domestic Box Office,International Box Office,Worldwide Box Office,href
0,Scarlett Johansson,"Sep 13, 2024",Transformers One,Elita,,,,https://www.the-numbers.com/movie/Transformers...
1,Scarlett Johansson,"Jun 16, 2023",Asteroid City,Midge Campbell / …,"$13,539,906","$7,121,699","$20,661,605",https://www.the-numbers.com/movie/Asteroid-Cit...
2,Scarlett Johansson,"Dec 22, 2021",Sing 2,Ash,"$162,790,990","$241,741,569","$404,532,559",https://www.the-numbers.com/movie/Sing-2-(2021...
3,Scarlett Johansson,"Jul 9, 2021",Black Widow,Natasha Romanoff/…,"$183,651,655","$196,099,476","$379,751,131",https://www.the-numbers.com/movie/Black-Widow-...
4,Scarlett Johansson,"Dec 6, 2019",Marriage Story,Nicole,,"$321,463","$321,463",https://www.the-numbers.com/movie/Marriage-Sto...

### Star Information

In [24]:
# Driver
service = Service(executable_path=r'C:\chromedriver')
driver = webdriver.Chrome(service=service)
driver.get('https://www.the-numbers.com/box-office-star-records/worldwide/lifetime-acting/top-grossing-leading-stars')

star_info_data = []

try:
    # for i in range(1,130):
    for i in range(1,2):
        
        page_ind  = i%6 + 2
        # for ind_star in range(1,101):
        for ind_star in range(1,30):
            star_link = driver.find_element(By.XPATH , f"""//*[@id="page_filling_chart"]/center/table/tbody/tr[{ind_star}]/td[2]/b/a""")
            star_link.click()
            
            star_tmp_list = [tr.text for tr in driver.find_element(By.XPATH,'//*[@id="col2mid"]/table/tbody').find_elements_by_tag_name("tr")]
            try:
                star_name = driver.find_element(By.XPATH , f"""//*[@id="main"]/div/h1""").text
            except : star_name= ''

            try:
                info_bestknown = driver.find_element(By.XPATH,"""//*[@id="col2mid"]/table/tbody/tr[1]/td/b""").text
                # print(info_bestknown)
            except:
                info_bestknown=''

            try:
                prodcoll = [i for i in  star_tmp_list if 'Most productive collaborators:' in i ][0]
                # print(prodcoll)
                prodcoll = [i.strip()  for i in prodcoll.replace('Most productive collaborators: ','').split(',')]
                # print( prodcoll  )
            except:
                prodcoll=''
                
            try:
                born = born = [i for i in  star_tmp_list if 'Born:' in i ][0]
                # print(born.replace('Born: ',''))
            except:
                born=''
                
            try:
                star_pic = driver.find_element(By.XPATH,"""//*[@id="person_img"]/img""").get_attribute('src')
                # print(star_pic)
            except:
                star_pic=''
            
            star_info_data.append([star_name,born,info_bestknown,prodcoll,star_pic])
            driver.back()

        next_page = driver.find_element(By.XPATH , f"""//*[@id="page_filling_chart"]/center/div/a[{page_ind}]""")
        next_page.click()
    
except:
    print(i)


star_info_df = pd.DataFrame(star_info_data)
star_info_df.columns = ['name','born','best_known_as','most_productive_collaborators','pic']
# star_info_df.to_csv('star_info_data.csv',sep = '|')
display(star_info_df.head())
print(star_info_df.shape)

1

ValueError: Length mismatch: Expected axis has 0 elements, new values have 5 elements

In [25]:
star_info_df

Empty DataFrame
Columns: []
Index: []